@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color:  #fff;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    color: #1f314f;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
}

.card p {
    color: #7d889e;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    width: 256px;
    margin: 16px auto 24px;

}

